@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BinancePlex';
  src: url('/fonts/Binance PLEX.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'BinancePlex';
  src: url('/fonts/Binance PLEX.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'BinancePlex';
  src: url('/fonts/Binance PLEX.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'BinancePlex';
  src: url('/fonts/Binance PLEX.woff2') format('woff2');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
}

@font-face {
  font-family: 'BinancePlex';
  src: url('/fonts/Binance PLEX.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'BinancePlex', Arial, sans-serif;
}
